*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.container{
    height: 100vh;
    width: 80%;
    margin: auto;
}
.title{
    text-align: center;
    color: teal;
}

.box{
    box-shadow: 10px 12px 50px rgba(0, 0, 0,0.1);
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 6px;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form-input{
    padding: 6px 9px;
    outline: none;
    border: 1px solid teal;
    border-radius: 6px;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 6px 9px;
    border-radius: 6px;
    color: #fff;
    background-color: teal;
}