@media screen and (max-width:990px) {
    #hero .container{
        flex-direction: column;
        max-width: 100%;
    }

    #hero img {
        max-width: 100%;
    }

    #about ,
    #works,
    #education,
    #contact {
        height: 100%;
    }

    #about .about-content {
        flex-direction: column;
    }

    #works .works-content {
        flex-direction: column;
    }

    #works .works-content .card {
        width: 100%;
    }

    #education .education-content {
        flex-direction: column;
    }

    #education .education-content .card {
        width: 100%;
    }

    #contact .contact-content {
        flex-direction: column;
    }

    .menu-btn {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--primary);
        height: 100%;
        width: 25vw;
        padding-top: 4rem;
    }

    .menu.active a{
        background-color: var(--dark);
        width: 100%;
        text-align: center;
        color: var(--white);
        margin-top: 1rem;
    }


    
}