@import url("https://fonts.googleapis.com/css2?family=Popins&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
 :root{
    --primary:#b54444;
    --secondary:#1f5661;
    --dark:#21243d;
    --light:#8695a4;
    --white:#ffffff;

 }
 html{
    scroll-behavior: smooth;
 }
 body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }
 /* header */
 .head{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
 }
 .navbar{
    background-color: var(--white);
    box-shadow: 4px 20px 40px rgba(0,0,0,0.1);
    width: 100%;
    height: 60px;
 }
.navbar .container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    transition: all 0.5s;
}
.navbar a:hover,
.navbar a:active{
    color:var(--primary);
}
.navbar .logo{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar .menu a{
    padding: 6px 9px;
    font-weight: bold;
}
/* hero */
#hero{
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
}
#hero .container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
#hero .right-col img{
    border-radius: 50%;
    border-bottom: 10px solid var(--light);
}
/* common classes */
.btn-primary,
.btn-sucess{
    padding: 6px 8px;
    border: none;
    color: var(--white);
    background-color: var(--primary);
    cursor: pointer;
}
p{
    font-size: 0.8rem;
    text-align: justify;
}

/* about */
#about{
    width: 100%;
    height: 100%;
}

#about .container{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 4rem;
}

.title h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--primary);
    text-shadow: 4px 5px 30px rgba(0,0,0,0.3);
}

#about .about-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
}

#about .about-content .left-col,
#about .about-content .right-col {
    width: 100%;
    
}

#about .about-content .left-col .card{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .card img{
    max-width: 100%;
}

#about .right-col {
    display: flex;
    align-items: center;
    justify-content: start;
}

#about .right-col .list li{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


/* work */
#works{
    width: 100%;
    height: 100%;
}
#works .container{
    width: 80%;
    margin: auto;
    padding-top: 3rem;
}
#works .works-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#works .works-content .card {
    width: 35%;
}
#works .works-content .card img{
    width: 100%;
}

/* education */

#education{
    width: 100%;
    height: 100%;
}

#education .container{
    width: 80%;
    margin: auto;
    padding-top: 3rem;
}

#education .education-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#education .education-content .left-col,
#education .education-content .right-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

#education .education-content  .card {
    padding: 10px;
    border-left: 2px solid var(--secondary);
    margin-top: 1rem;
    position: relative;
}

#education .education-content  .card::before{
   content: "";
   position: absolute;
   top: -10px;
    left:-11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--white);
    border: 2px solid var(--primary);
}

/* contact */
#contact{
    width: 100%;
    height: 100%;
}

#contact .container{
    width: 80%;
    margin: auto;
}

#contact .container .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-content .left-col form,
.contact-content .right-col {
    width: 100%;
    padding: 20px;
}

.form-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}

.input-item {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--dark);
    border-radius: 6px;
}

.sucess {
    background-color: green;
}

.primary {
    background-color: var(--primary);
}

.btn {
    text-decoration: none;
}

iframe {
    width: 100%;
    border-radius: 10px;
    height: 25vh;
}

#conact .list {
    list-style: none;
}

#contact .list li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
}

/* footer */

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    padding: 10px;
    background-color: var(--dark);
    color: var(--white);
}
    



/* menu */
.menu-btn {
    display: none;
}